
// for google map
#map {
  height: 100%;
}

#app {
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  width: 100%;
}

#image-search {
  color: white;
  

}

#document-search {
  background-color: white;
  color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  #document-search-header {
    position: relative;
    height: 40vh;
    bottom: 20px;
    text-align: center;
  }
  #document-search-content {
    height: 60vh;
    text-align: center;
  }
  #document-search-result {

  }
}

#demand-forecast {
  color: $indigo900;
  text-align: center;
  position: absolute;

  #demand-forecast-header {
    position: relative;
    height: 40vh;
    bottom: 20px;
    // height: 90%;
    text-align: center;

    .title {
      font-size: 4vw;
    }
    .subtitle {
      font-size: 2vw;
      padding: 20px;
    }
  }

  #demand-forecast-content {
    position: relative;
    text-align: center;
  }

  #demand-forecast-result {
  }
}

#searching {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
	bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0px auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;

  &.is-right {
    justify-content: flex-end;
  }

  &.is-center {
    justify-content: center;
  }
}

.flex-item {
  transition: all 0.3s; 
  position: relative;
  user-select: none;
  flex: 1;
  font-size: 3vh;
  font-weight: 300;
}

.has-text-centered {
  text-align: center;
}

.has-text-left {
  text-align: left;
}

.has-text-right {
  text-align: right;
}

.footer-logo {
  position: absolute;
  width: 100%;
  bottom: 10px;
  text-align: center;
  background-image: url("./img/gnlogo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
  height: 30px;
  cursor: pointer;
}