#recaptcha {
  z-index: 2000;
  .box {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
  }
  label {
    font-size: 30px;
    display: inherit;
    color: white;
    margin-bottom: 24px;
    animation-duration: 5s;
    letter-spacing: 1px;
  }
  .recaptcha-container {
    > div {
      display: inline-block;
    }
    text-align: center;
    margin: 0 auto;
    top: 40%;
    position: relative;
  }
}

#html_element {
  width: 100%;
  padding: 0px 20px;
}