@keyframes pulsate2 {
  0%   {
    transform: translate(-50%, -50%);
  }
  20% {
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 0px 17px rgba(255, 255, 255, 0.05);
  }
  40% {
    //5%
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 0px 47px rgba(255, 255, 255, 0.05);
  }
  60% {
    //10%
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 0px 77px rgba(255, 255, 255, 0.1);
  }
  80% {
    //26%
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 0px 107px rgba(255, 255, 255, 2.6);
  }
  100% {
    opacity: 0;
  }
}

$img-size: 344px;

.circle {
  height: $img-size;
  width: $img-size;
  line-height: $img-size;
  border-radius: 50%;
  border: 1px sold white;
  text-align: center;
  cursor: pointer;

  .text {
    user-select: none;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &.bg-circle {
      background-image: radial-gradient(circle, #E8EAF6, #3F51B5 50%, #303F9F 60%, #311B92);
    }
    &.bg-right {
      background-image: linear-gradient(to right, #E8EAF6, #3F51B5);
    }
    &.bg-left {
      background-image: linear-gradient(to right, #3F51B5, #E8EAF6);
    }
  }
}

.border-bold {
  box-sizing: border-box;
  border: solid 10px white;
}

.circle-outer {
  height: $img-size + 1;
  width: $img-size + 1;
  background-color: white;    
  border-radius: 50%;
  border: 0px;
  display: inline-block;
  transition: all 1s;
  transform: translate3d(-50%, -50%, 0);
}

.thumbnail {
  display: inline-block;
  img {
    transition: all 1.5s;
    width: $img-size;
    height: $img-size;
    position: relative;
    border-radius: 50%;
    box-sizing: border-box;
    border: solid 1px white;
    transition: all 1s;

    &.large {
      border: solid 8px white;
      transform: scale(1.3);
    }
  }
}

.bg-clear {
  opacity: 0;
  > img {
    opacity: 0;
  }
}

.is-center {
  position: absolute;
}

.is-right {
  position: absolute;
  transform: translate(70%, -50%);
}
.is-left {
  position: absolute;
  transform: translate(-170%, -50%);
}

.hover-lite {
  &:hover {
    animation: simple 1s;
    animation-iteration-count: 1;
  }
}

.hover {
  &:hover {
    z-index: 100;
    transition: all 1s;
    transform: scale(1.8)
  }
}

.hover-center {
  &:hover {
    z-index: 100;
    animation: pulsate2center 1s;
    animation-iteration-count: 1;
  }
}

.hover-right {
  &:hover {
    z-index: 100;
    animation: pulsate2right 1s;
    animation-iteration-count: 1;
  }
}

.hover-left {
  &:hover {
    z-index: 100;
    animation: pulsate2left 1s;
    animation-iteration-count: 1;
  }
}
