@keyframes pulsate2 {
  0%   {
    transform: translate(-50%, -50%);
  }
  20% {
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 0px 17px rgba(255, 255, 255, 0.05);
  }
  40% {
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 0px 47px rgba(255, 255, 255, 0.05);
  }
  60% {
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 0px 77px rgba(255, 255, 255, 0.1);
  }
  80% {
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 0px 107px rgba(255, 255, 255, 2.6);
  }
  100% {
    opacity: 0;
  }
}

.circle {
  height: $img-size;
  width: $img-size;
  line-height: $img-size;
  border-radius: 50%;
  border: 1px sold white;
  text-align: center;
  cursor: pointer;

  .text {
    user-select: none;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.border-bold {
  box-sizing: border-box;
  border: solid 10px white;
}

.circle-outer {
  height: $img-size;
  width: $img-size;
  background-color: white;    
  border-radius: 50%;
  border: 0px;
  display: inline-block;
  transition: all 1s;
  transform: translate3d(-50%, -50%, 0);
}

.thumbnail {
  display: inline-block;
  img {
    width: $img-size;
    height: $img-size;
    position: relative;
    border-radius: 50%;
    box-sizing: border-box;
    border: solid 1px white;

    &.large {
      border: solid 8px white;
      transform: scale(1.2);
    }
  }
}

.is-center {
  position: absolute;
}

.is-right {
  position: absolute;
  transform: translate(14vw, -50%);
}
.is-left {
  position: absolute;
  transform: translate(calc(-14vw - 100%), -50%);
}

.hover {
  &:hover {
    z-index: 100;
    transition: all 1s;
    transform: scale(1.8)
  }
}

.hover-center {
  &:hover {
    z-index: 100;
    animation: pulsate2center 1s;
    animation-iteration-count: 1;
  }
}

.hover-right {
  &:hover {
    z-index: 100;
    animation: pulsate2right 1s;
    animation-iteration-count: 1;
  }
}

.hover-left {
  &:hover {
    z-index: 100;
    animation: pulsate2left 1s;
    animation-iteration-count: 1;
  }
}
