
@keyframes sample {
  20% {
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 0px 17px rgba(255, 255, 255, 0.05);
  }
  40% {
    //5%
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 0px 47px rgba(255, 255, 255, 0.05);
  }
  60% {
    //10%
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 0px 77px rgba(255, 255, 255, 0.1);
  }
  80% {
    //26%
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 0px 107px rgba(255, 255, 255, 2.6);
  }
  100% {
    opacity: 0;
  }
}

@keyframes simple {
  50% {
    box-shadow: 0px 0px 0px 8px #3023ae, 
                0px 0px 0px 18px white,
                0px 0px 0px 28px rgba(255, 255, 255, 0.1);
  }
}

@keyframes pulsate2center {
  0% { box-shadow: none; }
  5% {
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 0px 17px rgba(255, 255, 255, 0.26);
  }
  10% {
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 0px 17px rgba(255, 255, 255, 0.26), 0px 0px 0px 47px rgba(255, 255, 255, 0.1);
  }
  100% { box-shadow: none; }
}


@keyframes pulsate2right {
  0% { box-shadow: none; }
  5% {
    transform: translate(70%, -50%);
    box-shadow: 0px 0px 0px 17px rgba(255, 255, 255, 0.26);
  }
  10% {
    transform: translate(70%, -50%);
    box-shadow: 0px 0px 0px 17px rgba(255, 255, 255, 0.26), 0px 0px 0px 47px rgba(255, 255, 255, 0.1);
  }
  100% { box-shadow: none; }
}

@keyframes pulsate2left {
  0% { box-shadow: none; }
  5% {
    transform: translate(-170%, -50%);
    box-shadow: 0px 0px 0px 17px rgba(255, 255, 255, 0.26);
  }
  10% {
    transform: translate(-170%, -50%);
    box-shadow: 0px 0px 0px 17px rgba(255, 255, 255, 0.26), 0px 0px 0px 47px rgba(255, 255, 255, 0.1);
  }
  100% { box-shadow: none; }
}
