@import url(https://fonts.googleapis.com/css?family=Roboto:700,400,300,200,100);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,700);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,100);
@import 'variables';
@import 'circle';
@import 'effect';
@import 'marquee';
@import 'transition';
@import 'layout';
@import 'list';
@import 'button';
@import 'selectbox';

html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: white;
}

body {
  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

h1 {
  font-size: 85px;
  margin: 20px;
  max-height: 100%;
}

h2 {
  font-size: 36px;
  margin: 20px;
  max-height: 100%;
}

pre, code {
  font-size: 14px;
  font-family: 'Inconsolata', monospace;
  font-weight: 100;
}

b {
  font-weight: 500;
}

i.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  cursor: pointer;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.container {
  position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  height: 100%;
  width: 100%;
}

.content-header {
  z-index: 1002;
  color: white;
  position: absolute;
  max-width: 70%;
  top: 54%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, calc(-54% - 34vh));
  text-align: center;
  transition: all 1s;
  opacity: 1;
  pointer-events: none;

  > .title {
    padding: .2em;
    font-size: 9vh;
    font-weight: 300;
  }
  > .subtitle {
    font-size: 4.4vh;
    font-weight: 100;
    &.large {
      font-size: 6.5vh;
    }
  }
}

.content {
  z-index: 1000;
  position: absolute;
  top: 54%;
  left: 50%;
}

.content-footer {
  z-index: 1001;
  width: calc(50vw + 32vh);
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, calc(54% + 18vh));
  text-align: center;
  color: white;
  display: block;
  justify-content: center;

  transition: all 1s;
  opacity: 1;
}

