@import url(https://fonts.googleapis.com/css?family=Roboto:700,400,300,200,100);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,700);
@import 'variables';
@import 'util';
@import 'circle';
@import 'progress';
@import 'background';
@import 'effect';
@import 'marquee';
@import 'transition';
@import 'layout';
@import 'list';
@import 'button';
@import 'select';

html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: white;
}

h1 {
  font-size: 85px;
  margin: 20px;
  max-height: 100%;
}

h2 {
  font-size: 36px;
  margin: 20px;
  max-height: 100%;
}

pre, code {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.container {
  position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  height: 100%;
  width: 100%;
}

.content-header {
  z-index: 1002;
  color: white;
  position: absolute;
  max-width: 70%;
  top: 54%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, calc(-54% - 34vh));
  text-align: center;
  transition: all 1s;
  opacity: 1;
  pointer-events: none;

  > .title {
    padding: .2em;
    font-size: 9vh;
    font-weight: 300;
  }
  > .subtitle {
    font-size: 4vh;
    font-weight: 100;
  }
}

.content {
  z-index: 1000;
  position: absolute;
  top: 54%;
  left: 50%;
}

.content-footer {
  z-index: 1001;
  width: calc(96vh + 8vh + 14vw);
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, calc(54% + 18vh));
  text-align: center;
  color: white;
  display: block;
  justify-content: center;

  transition: all 1s;
  opacity: 1;
}

