
// for google map
#map {
  height: 100%;
}

#app {
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  width: 100%;
}

#intro {
  position: absolute;
  height: 100%;
}

#image-search {
  color: white;
  

}

#document-search {
  color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  #document-search-header {
    position: relative;
    height: 40vh;
    bottom: 20px;
    text-align: center;
  }
  #document-search-content {
    height: 60vh;
    text-align: center;
  }
  #document-search-result {

  }
}

#demand-forecast {
  color: $indigo900;
  text-align: center;
  position: absolute;

  #demand-forecast-header {
    position: relative;
    height: 40vh;
    bottom: 20px;
    // height: 90%;
    text-align: center;

    .title {
      font-size: 4vw;
    }
    .subtitle {
      font-size: 2vw;
      padding: 20px;
    }
  }

  #demand-forecast-content {
    position: relative;
    text-align: center;
  }

  #demand-forecast-result {
  }
}

#searching {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
	bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0px auto;
}
