
.list {
  overflow: auto;
  border: 1px solid #E0E0E0;
  border-width: 0px 1px 0px 1px;

  .list-item {
    padding: 12px 30px;
  }
  
  > ul {
    height: 100vh;
    width: 100%;
    overflow: auto;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
      cursor: pointer;
      user-select: none;
      border: 1px solid #E0E0E0;
      border-width: 0px 0px 1px 0px;

      .label {
        font-size: 20px;
        font-weight: 200;
        color: green;
      }
      .title {
        font-size: 24px;
        font-weight: 300;
        color: black;
        margin: 4px 0px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .body {
        font-size: 18px;
        font-weight: 200;
        color: gray;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &:hover {
        background: #EEEEEE;
      }
      &.is-selected {
        background: black;
        color: white;
        cursor: default;

        .title,
        .body {
          color: white;
        }

        &:hover {
          background: black;
          .title {
            color: white;
          }
          .body {
            color: white;
          }
        }
      }
    }
  }
}
