@keyframes marquee {
  0%   { transform: translateY(100%); }
  // 25%   { transform: translate(0%, -100%); }
  // 25%  { transform: translate(0%, -30%); }
  // 50%  { transform: translate(0%, 110%); }
  100% { transform: translateY(-300%); }
}


.box-marquee {
  z-index: 2000;
  position: absolute;
  bottom: 0px;
  right: 20px;
  width: 30%;
  max-width: 600px;
  height: 60vh;
  overflow: hidden;
  white-space: nowrap;
  background-color: transparent;
  text-align: left;
  word-wrap: break-word;

  pre {
    animation: marquee 18s linear infinite;
    color: white;
    position: absolute;
    display: inline-block;
    overflow: hidden;
  }
}

