.fadeinout-appear {
  opacity: 0.01;
}
 
.fadeinout-appear.fadeinout-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fadeinout-enter {
  opacity: 0.1;
  animation-duration: 0.4s;
}

.fadeinout-enter.fadeinout-enter-active {
  opacity: 1;
}

.fadeinout-leave {
  opacity: 1;
  animation-duration: 0.4s;
}

.fadeinout-leave.fadeinout-leave-active {
  opacity: 0.1;
  transition: opacity .5s ease-in;
}
