
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;

  &.is-right {
    justify-content: flex-end;
  }

  &.is-center {
    justify-content: center;
  }
}

.flex-item {
  transition: all 0.3s; 
  position: relative;
  user-select: none;
  flex: 1;
}

.has-text-centered {
  text-align: center;
}

.has-text-left {
  text-align: left;
}

.has-text-right {
  text-align: right;
}

@keyframes leave { 
    from { }
    to { opacity: translateX(500px); }
    // to { transform: translate(-50%, -50%); }
}

.leave {
  opacity: 0.1;
  transition: opacity 1s ease-in;
}